body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #f6f1d1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    padding: .5em;
    box-shadow: 0 3px 20px black;

    .container {
        display: flex;
        place-content: space-between;
        background: #f6f1d1;
        margin: 0 1em;

        a.logo {
            margin-top: 1em;
            img {
                width: 200px;
            }
        }
    }

    nav {
        display: none;
    }

    .mobile-menu {
        margin: 2em 1em;
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
    text-align: center;
}

.hero {
    background: url('../images/wallpaper.jpg');
    background-size: cover;
    background-position: -15em 5.8em;

    .container {
        text-align: left;
        
        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(255, 255, 255);
            margin-top: 8em;
            letter-spacing: .3em;
            text-shadow: 5px 5px 5px rgb(46, 46, 46);
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.3em;
            margin-top: 0;

            .skyman {
                color: rgb(46, 161, 255);
            }

            .enterprises {
                color: rgb(255, 35, 200);
            }
        }

        h3 {
            margin-top: -.4em;
            color: white;
            text-shadow: 5px 5px 5px rgb(46, 46, 46);
        }

    }
}

.hero-img {
    width: 70%;
    margin-top: 3em;
    border-radius: 10%;
}

section {
    img {
        border-radius: 20px;
        margin: 2em 0;
        width: 90%;
    }

    a {
        text-decoration: none;
        padding: .5em 1.3em;
        color: white;
        background: rgb(21, 142, 255);
        border-radius: 20px;
    }

    div {
        margin: 0 2em;
    }
}

section.about {
    background: #20272E;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

section.service {
    background: #32292f;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

section.project {
    background: #ef476f;
    color: white;
    padding-left: 0;
    padding-right: 0;
}

section.footer {
    background: #20272E;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 2em 2em;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: rgb(230, 52, 147);
    height: 100vh;
    padding: 1em;

    ul {
        margin-top: 5em;
        
        li {
            a {
                color: white;
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.3em;
                text-align: right;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .mobile-exit {
        float: right;
        cursor: pointer;
        margin: .5em;
    }
}

@media only screen and (min-width: 750px) {

    .mobile-menu, .mobile-exit {
        display: none;
    }

    .hero {
        height: 500px;
        background-position: 0 6em;

        .container {
            margin-top: 15em;
        }
    }

    .navbar {
        
        .container {
            display: grid;
            margin-left: 4em;
            grid-template-columns: 100px auto;
            justify-content: unset;
        }

        nav {
            display: grid;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;

            ul {
                display: flex;
                margin: .5em 0 0 9.5em;

                a {
                    color: black;
                    margin: 0 .3em 0 .3em;
                }

                a:hover {
                    color: black;
                }

                li.home a {
                    font-weight: bold;
                }
            }
        }

    }
}

@media only screen and (min-width: 900px) {
    .container {
        width: 900px;
        margin: 0 auto;
    }

    .hero {
        height: 650px;
        background-position: 0 6em;

        .subhead {
            margin-top: 15em;
        }
    }

    .about, .service, .project {
        .container {
            display: flex;
            
            img {
                margin: 0 2em;
            }

            div {
                margin: 0 2em;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero {
        height: 700px;
        background-position: 0 4em;

        .subhead {
            margin-top: 12em;
        }
    }

    .navbar nav {
        display: flex;

        ul.secondary-nav {
            left: 0;
            margin-left: -12em;
        }
    }
}
